{% extends 'common/base.html' %}
{% load static %}
{% block headers_override %}
<script src="{% static 'video_processor/main.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container-fluid border row" style="min-height: 90%;padding: 0%;margin:0%">
  <div id="video-list" class="col border list-group" style="max-width:20%;padding: 0%;">
    <div class="text-center text-secondary">Select one to begin</div>
  </div>
  <div class="col border" style="width: 80% padding:0%">
    <div class="container border" style="margin: 0%;height:100%;">
      <span style="height: 50%;width: 100%">
        <video-js id="video-player" class="video-js" controls preload="auto" data-setup="{}"></video-js>
      </span>
      <div class="container" style="height: 50%;padding: 0%;width: 100%">
        <nav class="navbar" style="padding: 0%; margin-top: 1%;margin-bottom: 1%;">
          <div class="container-fluid flex ">
            <div class="d-flex">
              <button class="btn btn-outline-primary" id="logs-btn">Log file</button>
              <button class="btn btn-outline-primary" id="srt-btn">Subtitle file</button>
            </div>
            <div class="d-flex" role="search">
              <input class="form-control me-2" id="subtitle-search-term" name="search_term" placeholder="Search Subtitles"
                onkeydown="searchTerm()">
            </div>
          </div>
        </nav>
        <ul id="subtitle-list" class="list-group border" style="max-height: 80%;width: 100%;overflow-y :scroll">
          <li class="list-group-item" style="width: 100%;">Select a video on the left side or create one</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="modal modal-lg fade" id="upload-video-modal"  aria-labelledby="upload-video-modal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Upload Video</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="name-input" class="form-label">Video Title</label>
          <input class="form-control" id="name-input" name="title">
        </div>
        <div>
          <label for="file-input" class="form-label">Upload A Video</label>
          <input class="form-control form-control-lg" id="file-input" type="file" name="file" accept="video/*">
        </div>
      </div>
      <div class="modal-footer">
        <button id="upload-video-submit" type="button" class="btn btn-primary" onclick="uploadVideo()">Upload Video</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
<script>
  $(document).ready(function () {
    var list_video_url = "{% url 'video' %}"
    //get the list of videos
    $.getJSON(list_video_url, function (data) {
      for (index in data) {
        var job = data[index]
        var video_title = job.title
        var video_id = job.id
        var video_url = job.file
        var status = (job.status.toUpperCase() == "COMPLETED")
        var logs = job.logs
        var subtitles = job.subtitles
        console.log(status, job.status.toUpperCase(), job.status.toUpperCase() == "COMPLETED")

        //append div to the list
        var video_div = $('<div></div>')
        video_div.addClass('list-group-item btn text-start border')
        video_div.text(video_title  + (status ? "" : "- Processing"))
        video_div.attr('data-video-id', job.id)
        video_div.attr('data-video-url', video_url)
        video_div.attr('data-video-status', status)
        video_div.attr('data-video-logs', logs)
        video_div.attr('data-video-subtitles', subtitles)
        if (status) {
          video_div.click(selectVideo)
        }
        $('#video-list').append(video_div)
      }
    })
  })

  function selectVideo(){
    var video_id = $(this).attr('data-video-id')
    var video_url = $(this).attr('data-video-url')
    var video_status = $(this).attr('data-video-status')
    var video_logs = $(this).attr('data-video-logs')
    var video_subtitles = $(this).attr('data-video-subtitles')
    loadVideo(video_id,video_url,video_status,video_logs,video_subtitles)
  }

  function downloadFile(){
    var file_url = $(this).attr('data-file-url')
  }

  function searchTerm(){
    var search_term = $('#subtitle-search-term').val()
    var video_player_dom = $("#video-player")
    var video_id = video_player_dom.attr('data-video-id')
    listSubtitles(video_id,search_term)
  }

  function seekToSubtitle(){
    var start_time = $(this).attr('data-start-time')
    var player = videojs('video-player')
    player.currentTime(start_time)
  }

  function loadVideo(video_id,video_url,video_status,video_logs,video_subtitles){
    //set up the player with the video url
    var player = videojs('video-player')
    player.src(video_url)
    var video_player_dom = $("#video-player")
    video_player_dom.attr('data-video-id', video_id)

    //get the list of subtitles
    listSubtitles(video_id)

    logs_button = $('#logs-btn')
    srt_button = $('#srt-btn')
    console.log(video_logs != null && video_subtitles != undefined)
    if(video_logs != null && video_subtitles != undefined){
      logs_button.removeAttr('disabled')
      logs_button.attr('data-file-url', null)
    }else{
      logs_button.attr('disabled', true)
    }

    if(video_subtitles != null && video_subtitles != undefined){
      srt_button.removeAttr('disabled')
      srt_button.attr('data-file-url', null)
    }else{
      srt_button.attr('disabled', true)
    }
  }

  function listSubtitles(video_id,search_term) {
    var list_subtitle_url = "{% url 'subtitle-list' %}"
    $.getJSON(list_subtitle_url, { video_id: video_id, search : search_term }, function (data) {
      $('#subtitle-list').empty()
      for (index in data) {
        var object = data[index]
        var description = object.description
        var start_time = object.start_time
        //var end_time = object.end_time

        //append div to the list
        var subtitle_div = $('<li></li>')
        subtitle_div.addClass('list-group-item')
        subtitle_div.text(description)
        subtitle_div.attr('data-start-time', start_time)
        subtitle_div.style = "width: 100%;"

        $('#subtitle-list').append(subtitle_div)
      }
    })
  }

  //make a post call
  function uploadVideo() {
    var name = $('#name-input').val()
    var file = $('#file-input')[0].files[0]
    var upload_video_url = "{% url 'video' %}"
    var form_data = new FormData()
    form_data.append('title', name)
    form_data.append('file', file)

    $.ajax({
      url: upload_video_url,
      type: 'POST',
      data: form_data,
      processData: false,
      contentType: false,
      success: function (data) {
        //reload the page
        location.reload()
      },
      error: function (data) {
        console.log(data)
      }
    })
  }

</script>
{% endblock %}
