{% extends 'common/base.html' %}
{% load static %}
{% block headers_override %}
  <script src="{% static 'video_processor/main.js' %}"></script>
{% endblock %}

{% block content %}
  <div class="container-fluid border row" style="min-height: 90%;padding: 0%;margin:0%">
    <div id="video-list" class="col border list-group" style="max-width:20%;padding: 0%;"></div>
    <div class="col border" style="width: 80% padding:0%">
      <div class="container border" style="margin: 0%;height:100%;">
        <video-js id="video-player" class="video-js" controls preload="auto" data-setup="{}" style="height: 50%;width: 100%"></video-js>
        <div class="container" style="height: 50%;width: 100%;padding: 0%;">
            <nav class="navbar"  style="padding: 0%; margin-top: 1%;margin-bottom: 1%;">
                <div class="container-fluid flex justify-content-end">
                  <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                  </form>
                </div>
              </nav>
            <ul id="subtitle-list" class="list-group border" style="max-height: 80%;width: 100%;overflow-y :scroll">
                <li class="list-group-item" style="width: 100%;">An item</li>
                <li class="list-group-item" style="width: 100%;">A second item</li>
                <li class="list-group-item" style="width: 100%;">A third item</li>
                <li class="list-group-item" style="width: 100%;">A third item</li>
                <li class="list-group-item" style="width: 100%;">A third item</li>
                <li class="list-group-item" style="width: 100%;">A third item</li>
                <li class="list-group-item" style="width: 100%;">A third item</li>
                <li class="list-group-item" style="width: 100%;">A third item</li>
                <li class="list-group-item" style="width: 100%;">A third item</li>
                <li class="list-group-item" style="width: 100%;">A third item</li>
                <li class="list-group-item" style="width: 100%;">A third item</li>
                <li class="list-group-item" style="width: 100%;">A third item</li>
                <li class="list-group-item" style="width: 100%;">A third item</li>
                <li class="list-group-item" style="width: 100%;">A third item</li>
                <li class="list-group-item" style="width: 100%;">A third item</li>
                <li class="list-group-item" style="width: 100%;">A third item</li>
                <li class="list-group-item" style="width: 100%;">A fourth item</li>
                <li class="list-group-item" style="width: 100%;">And a fifth one</li>
              </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(function () {
      var list_video_url = "{% url 'video-list' %}"
      $.getJSON(list_video_url, function (data) {
        for (object in data) {
          var job = data[object].job
          var video_title = job.title
          var video_id = job.id
          var video_url = job.file

          //append div to the list
          var video_div = $('<div></div>')
          video_div.addClass('list-group-item btn text-start border')
          video_div.text(video_title)
          video_div.attr('data-video-id', video_id)
          video_div.attr('data-video-url', video_url)
          $('#video-list').append(video_div)
        }
      })
    })
  </script>
{% endblock %}
